body {
    padding-top: 70px;
}

a {
    color: #000000;
}

footer {
    margin: 50px auto;
    text-align: center;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
}

.img-center {
    margin: 0 auto;
    height: 200px;
    width: 200px;
}

.btn-main {
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-main:hover {
    background: #000000;
    color: #ffffff;
}

.margin-top-m {
    margin-top: 30px;
}
