		p {
			font-weight: bold;
			color: #CD5C5C;
		}
		img{
				-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
		}
	