
h1{
  font-size: 25px; text-decoration: underline;text-align: center; text-decoration: underline;color: #ffe6ee;padding-top: 50px;
}
p{
  color:#ffe6ee ; font-size: 20px;text-align: center; padding-left: 80px;padding-top: 50px;
}
img{
   float: left; padding-right: 70px;padding-top:20px; border-radius: 50%;
}

html {
        background: url('Capture2.PNG') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
.pa{
  width: 50%;
}
.image{
  margin: 0 auto;float: right;
}
